@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200;400&family=Playfair+Display:wght@400;700&family=Vollkorn:ital,wght@0,400;0,700;1,400&display=swap');

        .navbar {
            position: fixed;
            top: 0;
            width: 100%;
            height: 60px;
            background-color: rgba(255, 255, 255, 0.621);
            transition: background-color 0.3s ease;
            display: flex;
            justify-content: space-between;
            z-index: 999;
        }

        .navbar.scrolled {
            background-color: rgb(38, 49, 58);
        }

        .logo {
            width: 20%;
        }

        .logo img {
            width: 40px;
            padding: 10px 0px 0px 10px;
        }

        .nav {
            width: 70%;
            display: flex;
            justify-content: space-between;
        }

        .nav a {
            padding: 15px 5px 0px 0px;
            text-decoration: none;
            color: black;
            font-family: 'Rajdhani', sans-serif;
            font-weight: bolder;
            transition: 0.5s ease;
        }

        .nav a:hover {
            text-decoration: 2px solid red underline;
            transform: scale(1.1);
        }

        .top{
            background-color: #072E33;
            height:76px;
            width: 100%;
            text-align: center;
            align-items: center;
            padding-top: 5px;
        }

        #topic{
            color: aliceblue;
            font-size: 50px;
            font-family:Copperplate, Papyrus, fantasy;
            font-style: italic;
            font-weight: 900;
            letter-spacing: 1.5rem;
        }

        .Themes{
            display: flex;
            justify-content: flex-end;
            align-items: center; 
            color: white;
            background-color:#072E33;
            padding-bottom: 6px;
        }

        .Themes h3{
            margin-right: 10px;
        }

        .Themes input[type="radio"] {
            display: none;
        }

        .Themes label {
            display: inline-block;
            padding: 5px;
            background-color: #f0f0f0;
            border-radius: 3px;
            cursor: pointer;
            align-items: center;
            margin-right: 20px;
            transition:transform 0.3s;
        }
        .Themes input[type="radio"]:checked + label::before {
            content: "";
            display: inline-block;
            width: 10px;
            height: 10px;
            background-color: black;
            border-radius: 50%;
            margin-right: 5px;
        }

        .Themes input[type="radio"]:checked + label {
            color:white;
        }
        .Themes input[type="radio"]:checked + label span {
            color:white;
        }
        
        .Themes label{
            background-color: whitesmoke;
            -webkit-text-fill-color: black;
        }   
        .Themes label:hover {
            background-color: #64CCC5;
            transform:scale(1.05) ;
        }

        .Themes label:hover span {
            color: rgb(220, 28, 28);
        }

        body.light{
            background-image: url("../Images/light.jpg");
        }

        body.dark{
            background-image: url("../Images/dark.jpg");
        }

        body.natural{
            background-image: url("../Images/natural.jpg");
        }

        body {
            background-color: rgba(200, 237, 237, 0.381);
            font-family: Arial, sans-serif;
            font-family: 'Times New Roman', Times, serif;
        }
        .Flag {
        position: relative;
        }
        .Flag img{
            display: block;
            width: 100%;
        }
        .FlagText {
            position: absolute;
            top: 80%; 
            left: 50%; 
            transform: translate(-50%, -50%);
            border-radius: 20px;
            text-align: center; 
            color: white;
        }
        .FlagText h1{
            font-size: 69px;
            font-family: Copperplate, Papyrus, fantasy;
        }
        .FlagText p{
            font-style: italic;
            font-size: 30px;
            background-color: rgba(255, 255, 255, 0.212);
            padding: 1px;
            border-radius: 15px;
        }
        .FlagTextDis {
            font-size: 16px;
        }
        .galleryContainer {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            padding: 20px;
        }
        .galleryItem {
            position: relative;
            overflow: hidden;
            border-radius: 8px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            transition: 0.5s;
        }
        .galleryItem:hover{
            transform: scale(1.08);
        }
        .galleryItem img {
            width: 100%;
            height: auto;
            display: block;
            
        }
        .galleryItem .description {
            font-family: 'Times New Roman', Times, serif;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.7);
            color: #fff;
            padding: 8px;
            opacity: 0;
            transition: opacity 0.7s ease;
        }
        .galleryItem:hover .description {
            opacity: 1;
        }
        .galleryLable{
            font-family: 'Times New Roman', Times, serif;
            font-size: large;
            color: #000000;
            font-weight: bold;
            font-style: italic;
            background-color: #ada0c2;
            border-radius: 10px;
        }
        .editor{
            padding-top: 10px;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.171);
            border-radius: 25px;

        }
        .editor img{
            height: 80px;
            width: 80px;
            border-radius: 100%;
            transition: 0.5s;
        }
        .editor img:hover{
            transform: scale(1.2);
        }
        .editortag {
            color: black;
            transition: 0.5s;
        }
        .editortag:hover{
            transform: scale(1.2);
        } 
        @import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@700&display=swap');
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .main-footer {
            margin-top: auto;
            background-color: rgb(38, 49, 58);
            display: flex;
            justify-content: space-between;
            height: 200px;
            font-family: 'Agdasima', sans-serif;
            font-size: larger;
        }

        .main-footer h3,h4 {
            color: rgb(105, 158, 161);
            text-decoration: 2px solid red underline;
        }

        .main-footer img {
            width: 150px;
        }

        .footer-col-1 {
            padding: 15px;
        }

        .footer-col-1 p{
            color: rgb(161, 161, 161)
        }

        .main-footer h4 {
            margin-left: 22px;
            text-decoration: none;
        }

        .footer-col-1 input {
            border-radius: 5px;
            border-style: none;
            font-size: medium;
        }

        .footer-col-1 a {
            display: flex;
            text-decoration: none;
            color: rgb(161, 161, 161);
            transition: 300ms;
            justify-content: center;
        }

        .footer-col-1:nth-child(2) a{
            margin-top: 5px;
        }

        .social:hover{
            color: #151515;
        }


        footer {
            background-color: rgb(31, 40, 40);
            text-align: center;
            padding-bottom: 5px;
        }